h1{
	text-align: center;
	font-size: 300%;
	color: brown;
	font-family: georgia,garamond,serif;
}

.image{
	float: left;
}

.name{
	float: right;
	font-size: 20px;
	color: red;
	line-height: 140%;	
}

h2{
	clear:both;
	color: cyan;
	font-size: 30px;
}

p{
	font-size: 30px;
}

th{
	text-align: left;
	width: 150px;
	font-size: 30px;
	color: green;
	
}

tr{
	width: 50px;
	font-size: 30px;
	color: red;
}	
